.banner {
	text-align: center;

	&__img {
		order: -1;
		max-width: 375px;
		margin: 0 auto;
	}

	&__title {
		color: $darkGrayishRed;
		font-size: 2.5rem;
		text-transform: uppercase;
		letter-spacing: 10px;
		line-height: 1;
		margin-bottom: 0.6em;

		span {
			color: $desaturatedRed;
			font-weight: 300;
			display: block;
		}
	}

	&__text {
		max-width: 35ch;
		margin-bottom: 2em;
	}

	&__info {
		padding: 3.5em 0;
	}

	&__form {
		position: relative;

		&--input {
			font-family: inherit;
			width: 100%;
			padding: 1.2em;
			border-radius: 100vh;
			border: 1px solid $desaturatedRed;
			background: $palePink;
		}

		&--btn {
			border: 0;
			position: absolute;
			top: 0;
			left: 280px;
			display: block;
			padding: 1em 1.5em;
			background: linear-gradient(135deg, $lightPink, $darkPink);
			border-radius: 100vh;
		}

		&--arrow {
			padding: 0.5em;
		}
	}
}
