// colors
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGrayishRed: hsl(0, 6%, 24%);
$white: hsl(0, 0%, 100%);
$palePink: hsl(0, 100%, 98%);
$lightPink: hsl(0, 80%, 86%);
$darkPink: hsl(0, 74%, 74%);

// - Linear, 135deg, from , to
